* {
    box-sizing: border-box;
    margin: 0;
  }

  /* defines re-used colors */
  :root {
    --purpleLight : #cea8e4;
    --middlePurple : #85609c;
    --darkPurple : #4e4255;
    --buttonHover : #d69d6b;
    --buttonOnclick : rgb(135, 118, 143);
  }
  .buttons:hover{
    background-color: var(--buttonHover);
  }
  .buttons:active{
    background-color: var(--buttonOnclick);
    box-shadow: 0px 0px;

  }
  body {
    background-color:var(--darkPurple);
    border-image-repeat: none;
  }#title {
    margin: 0;
    font-size: 40px;
    color: black;
    padding-top: 50px;
    padding-right: 12px;
   padding-left: 15px;
  }
  /* start basic header layout */
header section{
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: var(--middlePurple);
    border-bottom: 12px solid black;
    margin-bottom: 100px;
  }
  header section div {
    padding: 5px;  
    display: flex;
  }
  header div img {
    margin: 10px;
    height: 125px;
    align-self: center;
  }
  header nav { 
    margin-top: 130px;
 
    /* align-content: flex-end; */
  }
  nav{
    margin-top: 120px;
    margin-right: 0%;
  }
  .options{
    margin-left: 5px;
    width: 120px;
    flex-direction: column;
    background-color: var(--purpleLight);
    border-radius: 5px;
    align-content: center;
    font-size: 15px;
    box-shadow: 2px 0px var(--darkPurple);
  }
  /* end header layout */
.menu-button {
    display: none;
}
.menuBox {
    display: none;
}

.hello {
    color: white;
    text-align: center;
    font-size: xx-large;
   
}
  main {
    display: flex;
    background-color:var(--purpleLight);
    margin: 12%;
    margin-top: 100px;
    margin-bottom: 150px;
    border-radius: 30px;
    padding: 30px 30px 30px ;
    box-shadow: -12px -12px var(--middlePurple), 12px 12px  #000000;
    flex-direction: column;
    
  }
  .imgContainer{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main img{
    margin-bottom: 10px;
    width: 400px;
    height: 150px;
  }
  
  .quizList p {

    background-color: var(--purpleLight);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 22px;
    box-shadow: 10px 10px  #000000;
    border-radius: 15px;
    padding: 15px;
    font-size: x-large;
    font-weight: 550;

  }

  .quizList {
display: flex;
flex-direction: column;
margin-bottom: 45px;
  }


.quizList h1 {
  background-color: var(--purpleLight);
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 22px;
  box-shadow: -8px -8px var(--middlePurple), 8px 8px  #000000;
  border-radius: 15px;
  padding: 15px;
  font-size: xx-large;
  font-weight: 550;
text-align: center;
margin-bottom: 35px;
}

  .footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 80px;   /* Height of the footer */
    background-color: var(--middlePurple);
    border-top: 12px solid #000000;
  }