/* start reused colors */
:root {
    --purpleLight : #cea8e4;
    --middlePurple : #85609c;
    --darkPurple : #4e4255;
    --buttonHover : #d69d6b;
    --buttonOnclick : rgb(135, 118, 143);
}
/* end relused colors */



/* start how buttons work */
.buttons:hover{
  background-color: var(--buttonHover);
}
.buttons:active{
  background-color: var(--buttonOnclick);
  box-shadow: 0px 0px;
}
/* end how buttons work */



/* start js affected page styles */
 .incorrect{
    display: none;
 }
.blur{
    filter: blur(2px);
}
/* .start {
    display: none;
} */
 .game{
    display: none;
 }
 .finished {
    display: none;
 }
 .hide {
    display: none;
 }
/* end js affected styles */

.daRulez{
    font-size: larger;
    margin: 23%;
    margin-bottom: 34px;
}

.quizList p{ 
    box-shadow: 4px 4px black;
    background-color: var(--purpleLight);
    padding: 12px 12px;
    margin: 12px 35%;
    border-radius: 15px;
   
}

/* start body */
  body {
    background-color:var(--darkPurple);
    border-image-repeat: none;
  }#title {
    margin: 0;
    font-size: 40px;
    color: black;
    padding-top: 35px;
    padding-right: 12px;
   padding-left: 15px;
  }


  /* start basic header layout */
header section{
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: var(--middlePurple);
    border-bottom: 12px solid black;
    margin-bottom: 100px;
  }
  header section div {
    padding: 5px;  
    display: flex;
  }
  header div img {
    margin: 10px;
    height: 75px;
    align-self: center;
  }
  header nav { 
    margin-top: 70px;
    align-content: flex-start;
  }
  .options{
    margin-left: 5px;
    width: 120px;
    flex-direction: column;
    background-color: var(--purpleLight);
    border-radius: 5px;
    align-content: center;
    font-size: 15px;
    box-shadow: 2px 0px var(--darkPurple);
  }
  /* end header layout */




  /* start menu section */
.menu-button {
    display: none;
}
.menuBox {
    display: none;
}
/* end menu section */





/* start main quiz section */
  .mainQuizBody{
color: white;
text-align: center;
}

/* title */
.quizTitle{
    text-align: center;
    font-size: xx-large;
}

/* start the quiz */
.startButton{
    position: absolute;
    background-color: var(--purpleLight);
    border-radius: 14px;
    box-shadow: 8px 8px black;
    padding: 2px 34px;
    top: 50%;
    left: 50%;
    top: 350px;
    transform: translate(-50%, -50%);
    font-size: x-large;
}

/* main quiz background */
.largeQuizCard {
    display: flex;
    background-color: #99929d;
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
    box-shadow: 10px 10px black;
   height: 520px;
}
.cardBtnContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* start incorrect popup */
.incorrectContainer {
    background-color: #cea8e4;
    position: absolute;
    top: 50%;
    left: 50%;
    top: 500px;
    transform: translate(-50%, -50%);
}
.btnRetry{
    position: absolute;
    top: 30px;
    padding: 1px 45px;
    font-size: x-large;
}
.btnSkip{
    position: absolute;
  left: -150px;
    top: 30px;
    padding: 1px 45px;
    font-size: x-large;
}
.incorrectPrompt{
    position: absolute;
    top: -55px;
    transform: translate(-50%, -50%);
    color: red;
    font-weight: bolder;
    font-size: 40px;
    background-color: white;
    padding: 12px 50px;
    border-radius: 15px;
    border: 3px solid red;
}
/* end incorrect section */


.btnSubmit{
    position: absolute;
    top: 710px;
    font-size: x-large;
    margin: 0 auto;
    left: 40%;
    right: 40%;
    z-index: 2;
}


/* all quiz buttons */
.quizButton{
    background-color: var(--purpleLight);
    border-radius: 14px;
    box-shadow: 8px 8px black;
}
/* end quiz buttons */


/* start actual quiz question */
.quizFlipCard{
    background-color: var(--middlePurple);
    border-radius: 30px;
    padding: 45px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 35px;
    height: 340px;
    width: 100%;
    border: 5px solid black;
}
.question {
    font-size: x-large;
    font-weight: 700;
    text-align: left;
}
.question ul {
    font-size: medium;
}
.option{
    text-align: left;
    font-size: larger;   
}
.option:hover{
   color: #d69d6b;
}
/* end actual quiz section */





/* start counter stats */
.counters{
    background-color: white;
    border-radius: 0px 0px 14px 14px ;
    box-shadow: 8px 8px black;
    position: absolute;
    font-size: x-large;
    margin: 0 auto;
    color: #000000;
    padding: 1px 32px 0px;
    line-height: 1px;
    z-index: -1;
}
.questionCounter {
    left: 24%;
    top:  748px;
}
.correctCounter{
    right: 24%;
    top: 748px;
}
.timer{
    top: 748px;
    left: 43%;
    right: 43%;
    padding: 0;
    font-size: xx-large;
    z-index: -1;
    overflow: hidden;
}
/* end counter stats */



/* start game over */
.gameOverSection{
    color: black;
    text-align: center;
    background-color: #cea8e4;
    position: absolute;
    top: 50%;
    left: 50%;
    top: 275px;
    transform: translate(-50%);
    padding: 0 100px 80px ;
    margin-bottom: 300px;
    border-radius: 35px;
    box-shadow: 8px 8px black;
}
.gameOver {
    font-size: x-large;
}
/* end game over */
/* end quiz section */


/* start footer */
.footer {
    margin-top: 1500px;
    bottom: 0;
    width: 100%;
    height: 80px;   /* Height of the footer */
    background-color: var(--middlePurple);
    border-top: 12px solid #000000;
  }
  /* end footer */